@import '@fontsource/fira-mono' layer(base);
@import 'tailwindcss';

@theme {
  --color-primary: #39a900;
  --color-secondary: #04324d;
  --color-tertiary: #fbad20;
  --color-alternative: #71277a;

}

